.title{
	margin: 20px auto;
}
#navbar{
	border-radius: 0 0 50px 50px;
	padding: 5px 50px;
	background-color: black;
}
/* @keyframes br{ */
/* 	from {border-radius: 0%;} */
/*   to {border-radius: 10%;} */
/* } */
#navbar ul li{
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight:bold;
}
#navbar ul li a{
	transition: border-radius 0.5s;
	}
#navbar ul li a:hover{
	color: white;
	background-color: #ff8000;
/* 	animation-name: br; */
/*   	animation-duration: 0.5s; */
	border-radius: 50%;
	color: black;
}
#navbar form input{
	font-size: 0.8em;
}
#navbar form button{
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: bold;
	border: gray 1px solid;
	color: gray;
}
#navbar form button:hover{
	
	background-color: #ff8000;
	color: black;
	border: #ff8000 solid 1px;
}
#navbar .brand{
	font-weight: bold;
	text-transform: uppercase;
}
/*Trich dan cau noi*/
#Quotes .someQuotes h3{
	font-family:monospace;
	font-style: italic;
	font-weight: lighter;
	quotes:initial;
}
#Quotes .someQuotes h4{
	font-family:monospace;
	font-style: italic;
	font-weight: lighter;
	quotes:initial;
	margin-right: 20%;
}
#about .about-row-1{
	background: url("../images/composition-homely-festive-atmosphere.jpg") bottom no-repeat;
	background-size: 98.43%;
	padding: 10px 10px;
	position:relative;
}
#about .about-row-1::before{
	 background: white;
	 z-index: 1;
	 opacity: 0.6;
	 content: "";
	 height: 100%;
   		left: 0;
   	 position: absolute;
    top: 0;
    width: 100%;
}
#about .about-row-1 div{
	z-index: 2;
}
#Quotes .someQuotes{
	background: url("../images/qt-bg.jpg") no-repeat center;
	background-attachment: fixed;
	padding: 200px 0;

}
#menus a{
	color:white;
}

/*#menus #v-pills-tab {
	padding: 15px 0;
	text-align: center;
}*/
#gallery .image-grids img{
	height: 250px;
	width: 100%;
	margin: 5px;
}
.feedbacks-main-content{
	padding: 20px 5px;
}
#footer{
	padding-top: 50px;
	padding-bottom: 0px;
	color: white;
}
.bg-f{
	background-image: url("../images/footer-bg.jpg");
	background-attachment: scroll;
	background-clip: initial;
	background-color: rgba(0, 0, 0, 0);
	background-origin: initial;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.bg-f::before {
    background: #010101;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
	opacity: 0.8;
}
#footer .icon{
	font-size: 2em;
	text-align: center;
}
#footer .item{
	z-index: 2;
	text-align: justify;
	padding: 0 60px;
	text-align: center;
}
#footer .item button{
	margin: 20px auto;
}

@media only screen and (max-width: 600px) {
	#menus a{
		font-size: 0.8em;
		padding: 15px 0;
	}
	#navbar{
	border-radius: 0 0 10px 10px;
	padding: 5px 10px;
	
}
#navbar ul li, #navbar button, #navbar input{
	font-size: 1.2em;
}

#Quotes .someQuotes h4{	
	margin-right: 2%;
}
}
